.img-branding {
    border-radius: 50%;
    width: 232px;
    height: 232px;
}

.features {
    background-color: rgb(201, 206, 206)
}

.devs {
    background-color: rgb(201, 206, 206)
}

.fontawesome-icon-big {
    font-size: 32px;
}

.logo-navbar {
    border-radius: 50%;
    width: 23px;
    height: 23px;
}

/*
.navbar {
    background-color: rgb(47, 43, 228)
}
*/

/*
.navbar-item {
    color: white;
}
*/


/*
    I'm a blobface
*/